/* 首頁相關CSS設定 */ 

.container {
    max-width: 1120px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}
/* 表頭設計 */
//表頭背景撐滿版
.header {
    background: url(../img/home.svg), url(../img/bg_home.svg);
    background-repeat: no-repeat;
}

//導覽列
.nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 24px 0;
    img {
        height: 40px;
    }
}

/* 表尾設計 */ 
.footer {
    background-color: white;
    text-align: center;
    .footer-box {
        background: url(../img/home_footer.svg);
        height: 503px;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100%;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-content: center;
    }
    h3 {
        margin-top: 260px;
    }
    a {
        margin-top: 48px;
        margin-bottom: 100px;
    }
    p {
        padding: 16px 0;
    }
}



