/* 顏色 */ 
$base-color: #56C4C5;
$highlight-color: #FF5D50;
$text-color: #747474;
$grey: #DDDDDD;
$yellow: #FFD153;
$light-black: #221E1F;
$shadow: #00000014;

/* 字體 */
.fz-bold {
    font-weight: 700;
}

.fz-12 {
    font-size: 12px;
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-24 {
    font-size: 24px;
}

.fz-32 {
    font-size: 32px;
}

.fz-48 {
    font-size: 46px;
}

.light-black {
    color: $light-black;
}

.base-color {
    color: $base-color;
}

/* 按鈕 */
.btn {
    border-radius: 50px;
    padding: 12px 32px;
    color: white;
}

.btn-base {
    background: $base-color;
    border: $base-color 1px solid;
    &:hover{
        background: white;
        color: $base-color;
        border: $base-color 1px solid;
    }
}

.btn-focused {
    background: $base-color;
    border: $base-color 1px solid;
}

.btn-unfocused {
    background: white;
    color: $base-color;
    border: $base-color 1px solid;
    &:hover{
        background: $base-color;
        color: white;
        border: $base-color 1px solid;
    }
    &:active{
        background: $base-color;
        border: $base-color 1px solid;
    }
}

.btn-highlight {
    background: $highlight-color;
    border: $highlight-color 1px solid;
    &:hover{
        background: white;
        color: $highlight-color;
        border: $highlight-color 1px solid;
    }
}

/* Margin */
.mt16 {
    margin-top: 16px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb48 {
    margin-bottom: 48px;
}

.pb48  {
    padding-bottom: 48px;
}