@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 顏色 */
/* 字體 */
.fz-bold {
  font-weight: 700;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-26 {
  font-size: 26px;
}

.fz-32 {
  font-size: 32px;
}

.fz-46 {
  font-size: 46px;
}

/* 按鈕 */
.btn {
  border-radius: 50px;
  padding: 12px 32px;
  color: white;
}

.btn-base {
  background: #56C4C5;
  border: #56C4C5 1px solid;
}

.btn-base:hover {
  background: white;
  color: #56C4C5;
  border: #56C4C5 1px solid;
}

.btn-highlight {
  background: #FF5D50;
  border: #FF5D50 1px solid;
}

.btn-highlight:hover {
  background: white;
  color: #FF5D50;
  border: #FF5D50 1px solid;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: black 1px solid;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

sub {
  vertical-align: sub;
}

/* 首頁相關CSS設定 */
.container {
  max-width: 1120px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

/* 表頭設計 */
.header {
  background: url(../img/home.svg), url(../img/bg_home.svg);
  background-repeat: no-repeat;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 24px 0;
}

.nav img {
  height: 40px;
}

/* 表尾設計 */
.footer {
  background-color: white;
  text-align: center;
}

.footer .footer-box {
  background: url(../img/home_footer.svg);
  height: 503px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer h3 {
  margin-top: 260px;
}

.footer a {
  margin-top: 48px;
  margin-bottom: 100px;
}

.footer p {
  padding: 16px 0;
}
/*# sourceMappingURL=all.css.map */