@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 顏色 */
/* 字體 */
.fz-bold {
  font-weight: 700;
}

.fz-12 {
  font-size: 12px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-24 {
  font-size: 24px;
}

.fz-32 {
  font-size: 32px;
}

.fz-48 {
  font-size: 46px;
}

.light-black {
  color: #221E1F;
}

.base-color {
  color: #56C4C5;
}

/* 按鈕 */
.btn {
  border-radius: 50px;
  padding: 12px 32px;
  color: white;
}

.btn-base {
  background: #56C4C5;
  border: #56C4C5 1px solid;
}

.btn-base:hover {
  background: white;
  color: #56C4C5;
  border: #56C4C5 1px solid;
}

.btn-focused {
  background: #56C4C5;
  border: #56C4C5 1px solid;
}

.btn-unfocused {
  background: white;
  color: #56C4C5;
  border: #56C4C5 1px solid;
}

.btn-unfocused:hover {
  background: #56C4C5;
  color: white;
  border: #56C4C5 1px solid;
}

.btn-unfocused:active {
  background: #56C4C5;
  border: #56C4C5 1px solid;
}

.btn-highlight {
  background: #FF5D50;
  border: #FF5D50 1px solid;
}

.btn-highlight:hover {
  background: white;
  color: #FF5D50;
  border: #FF5D50 1px solid;
}

/* Margin */
.mt16 {
  margin-top: 16px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb32 {
  margin-bottom: 32px;
}

.mb48 {
  margin-bottom: 48px;
}

.pb48 {
  padding-bottom: 48px;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

sub {
  vertical-align: sub;
}

/* 首頁相關CSS設定 */
.container {
  max-width: 1120px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

/* 表頭設計 */
.header {
  height: 105vh;
  background: url(../img/home.svg), url(../img/bg_home.svg);
  background-size: 532px 534px, 851px 768px;
  background-position: top 118px right 140px, top right;
  background-repeat: no-repeat;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

.header .nav img {
  height: 40px;
}

.header .header-info {
  margin: 158px 0;
}

.header .header-info h1 {
  color: #56C4C5;
}

.header .header-info p {
  padding: 8px 0 16px 0;
}

@media (max-width: 768px) {
  .header .header-info {
    margin: 32px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 110vh;
    margin-bottom: 92px;
    background: url(../img/home.svg), url(../img/bg_home_sm.svg);
    background-size: 304px 305px;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .nav {
    background: white;
    border-bottom: 2px solid #FFD153;
  }
  .nav a {
    padding: 8px 32px;
  }
  .nav img {
    height: 24px;
  }
  .nav p {
    font-size: 32px;
  }
}

/* 網頁內容 */
.platform {
  margin-bottom: 100px;
}

.platform h3 {
  text-align: center;
  margin-bottom: 48px;
}

.platform h5 {
  font-weight: 700;
  font-size: 24px;
  margin: 24px 0;
}

.platform p {
  text-align: center;
  letter-spacing: 0px;
  color: #747474;
}

.platform img {
  height: 90px;
  width: 90px;
}

.platform .platform-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.platform .platform-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .platform .platform-item {
    padding: 0px 16px;
    padding-right: 16px;
    margin-bottom: 24px;
  }
  .platform .platform-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 376px) {
  .platform .platform-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .platform .platform-item {
    width: 100%;
    margin-bottom: 24px;
  }
  .platform img {
    height: 60px;
    width: 60px;
  }
}

.role {
  margin-bottom: 100px;
  text-align: center;
}

.role h3 {
  font-size: 32px;
  font-weight: 700;
}

.role h4 {
  padding: 16px 0 46px 0;
}

.role .role-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.role .role-item {
  -webkit-box-shadow: 2px 3px 2px 1px #00000014;
          box-shadow: 2px 3px 2px 1px #00000014;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

.role .role-item img {
  border-radius: 12px 12px 0 0;
}

.role .role-item h5 {
  color: #56C4C5;
  padding: 16px 0;
}

.role .role-item p {
  padding: 0px 16px 24px 16px;
}

@media (max-width: 768px) {
  .role .role-item {
    padding: 0px 16px;
    width: 50%;
  }
}

@media (max-width: 376px) {
  .role .role-item {
    width: 100%;
  }
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.service-content {
  width: 50%;
  padding-left: 137px;
}

.service-list {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 280px;
  padding: 48px 24px;
}

.service-card img {
  height: 52px;
  width: 52px;
}

.service-card h3 {
  font-weight: 700;
}

@media (max-width: 768px) {
  .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .service .service-content {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  .service .service-list {
    width: 100%;
  }
  .service .service-card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
  }
}

@media (max-width: 375px) {
  .service .service-card {
    width: 100%;
  }
}

.comment {
  margin-bottom: 100px;
}

.comment h3 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.comment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-item {
  width: 33%;
  padding: 0px 32px 24px 32px;
  -webkit-box-shadow: 10px 10px 10px 5px #00000014;
          box-shadow: 10px 10px 10px 5px #00000014;
}

.comment-item .avatar {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  -webkit-transform: translate(0px, -24px);
          transform: translate(0px, -24px);
}

.comment .commenter {
  border-top: 1px solid #DDDDDD;
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comment .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .comment .comment-item {
    margin-bottom: 80px;
    padding: 16px 48px;
    width: 100%;
  }
}

/* 表尾設計 */
.footer {
  background-color: white;
  text-align: center;
}

.footer .footer-box {
  background: url(../img/home_footer.svg);
  height: 503px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer h3 {
  margin-top: 260px;
}

.footer a {
  margin-top: 48px;
  margin-bottom: 100px;
}

.footer p {
  padding: 16px 0;
}

.container {
  max-width: 1120px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

/* 表頭設計 */
.header-charge {
  height: 100vh;
  background: url(../img/banner.svg);
  background-size: 70%;
  background-position: right top;
  background-repeat: no-repeat;
}

.header-charge .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
}

.header-charge .nav img {
  height: 40px;
}

.header-charge .charge-info {
  margin-top: 92px;
}

@media (max-width: 768px) {
  .header-charge {
    height: 150vh;
    background: url(../img/banner_sm.svg);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .nav {
    background: white;
    border-bottom: 2px solid #FFD153;
  }
  .nav a {
    padding: 8px 32px;
  }
  .nav img {
    height: 24px;
  }
  .nav p {
    font-size: 32px;
  }
}

/* 網頁內容 */
.charge-project {
  text-align: center;
  margin-bottom: 100px;
}

.charge-project .choice-list {
  margin: 48px 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: scroll;
}

.charge-project .project-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.charge-project .project-info {
  padding: 10px 19px 32px 29px;
  border-radius: 1%;
}

.charge-project .project-info hr {
  border: 1px solid #DDDDDD;
}

.charge-project .project-price {
  margin: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.charge-project .subscribe {
  padding: 24px 32px;
}

.charge-project .equal {
  font-size: 29px;
}

.charge-project .project-service {
  margin-bottom: 32px;
  text-align: left;
}

.charge-project .project-service li {
  margin-bottom: 16px;
}

.charge-project .project-service li:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icon_check.svg) no-repeat center/contain;
  margin-right: 12px;
}

@media (max-width: 768px) {
  .charge-project .project-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .charge-project .choice-btn a {
    margin-left: 16px;
    width: 146px;
  }
}

.common-question {
  margin-bottom: 100px;
}

.common-question h3 {
  text-align: center;
  margin-bottom: 48px;
}

.common-question .qa-card {
  -webkit-box-shadow: 0px 2px 5px 5px #00000014;
          box-shadow: 0px 2px 5px 5px #00000014;
  padding: 16px 32px;
  margin-bottom: 16px;
}

.common-question .qa-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.common-question .accordion-btn {
  cursor: pointer;
  border: none;
}

.common-question .ans {
  margin: 24px 0;
}
/*# sourceMappingURL=all.css.map */